<html>
    <h1> The Retreat Hotel</h1>
    <p>
        At Marriott, we never stop searching for inventive ways to serve our customers, provide opportunities for our associates, and grow our business. The company that began as a nine-seat A&W root beer stand is recognized today as a top employer and for its superior business operations, which it conducts based on five core values: put people first, pursue excellence, embrace change, act with integrity, and serve our world.
    </p>
<br>
<br>
Our core values make us who we are. As we change and grow, the beliefs that are most important to us stay the same—putting people first, pursuing excellence, embracing change, acting with integrity and serving our world. Being part of Marriott International means being part of a proud history and a thriving culture.
</html>