</html>
<h1> Please Register Your Details Below</h1>
</html>
  <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
      </br>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </br>
        <div class="col">
            <input type="text" class="form-control" placeholder="Gender">
          </div>
      </div>
    </form>
  <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
      </br>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </br>
      
      
     
      <button type="submit" class="btn btn-primary"> Register </button>
    </form>
